* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

#home-page-contact {
    width: 100%;
    height: 46px;
    background: #0f5b9a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-contact-container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-child {
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-container {
    width: 80%;
    justify-content: left;
}

.authen-container {
    width: 20%;
    justify-content: right;
    color: white;
    font-size: 15px;
}

.contact-details {
    background: #0C3175;
    margin-right: 10px;
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 16px;
}

.authen-icon {
    width: 25px;
    height: 25px;
    background-color: white;
    color: #0f5b9a;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homepage-header {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-page-header-container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: red;
}

.homepage-header-search {
    height: 100%;
    width: calc(100% - 360px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-header-more {
    height: 100%;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-search-container {
    height: 50px;
    width: 80%;
    padding-left: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
}

.input-search {
    height: 100%;
    width: calc(100% - 60px);
    border: none;
    outline: none;
}

.button-search {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9F00;
    border-radius: 0 5px 5px 0;
}

.cart-container {
    width: 80px;
    height: 72px;
}

.icon-cart-container {
    width: 100%;
    height: 38px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f5b9a;
}

.cart-content {
    width: 100%;
    height: 30px;
    margin-top: 4px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    font-weight: bold;
}

.num-cart {
    height: 20px;
    width: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #FF9F00;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 30px;
    margin-bottom: 30px;
}
.Build-PC-container{
    width: 150px;
}

#home-page-body{
    width: 100%;
    background-color: #CCC;
    padding-top: 10px;
}

.home-page-slide{
    min-height: 270px;
    width: 80%;
    margin-left: 10%;
    display: flex;
}

.menu-left{
    width: 23%;
    min-height: 200px;
    background-color: white;
    border-radius: 15px;
}

.menu-item{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 20px;
}

.menu-item-content{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.menu-item:hover{
    color: white;
    background-color: #0f5b9a;
    cursor: pointer;
}
.menu-item:hover .icon-menu{
    color: #ccc;
}

.slide-container{
    width: 75%;
    min-height: 700px;
    margin-left: 2%;
    border-radius: 15px;
    text-align: center;
}

.slide-list{
    position: relative; 
    width: 100%;
}

[class*="img-slide-"]{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
    transition: opacity linear 0.5s;
    z-index: 1;
}

.to-1:checked ~ .slide-list .img-slide-1,
.to-2:checked ~ .slide-list .img-slide-2, 
.to-3:checked ~ .slide-list .img-slide-3, 
.to-4:checked ~ .slide-list .img-slide-4{
    opacity: 0.9;    
}

/* [class*="to-"]{
    position: absolute;
    z-index: 4;
} */

#home-page-footer{
    height: 1366px;
    width: 100%;

}
.footer-container-1{
    width: 100%;
    height: 160px;
    background-color: #0f5b9a;
    display: flex;
    padding: 0 8%;
    justify-content: space-around;
}

.footer-container-1-item{
    height: 100%;
    width: 20%;
    display: flex;
    font-size: 30px;
    color: white;
    align-items: center;
    background-color: red;
}

.footer-content{
    align-items: center;
}

.footer-container-1-content-1{
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    margin-left: 10px;
}

.footer-container-1-content-2{
    font-size: 12px;
    margin-left: 10px;
    display: flex;
}

.footer-container-2{
    height: 263px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    padding: 0 8%;
}

.footer-content-1{
    width: 20%;
    height: 100%;
    background-color: yellow;
}

.footer-container-2-content-1{
    font-size: 18px;
    font-weight: bold;

}

.line-footer{
    width: 70%;
    height: 2px;
    background-color: #0C3175;
}

.footer-container-2-content-2{
    font-size: 15px;
}

.footer-container-2-content-2-details:hover{
    color: #0f5b9a;
    background-color: white;
    cursor: pointer;
}

.box-social-ft{
    width: 123px;
    height: 38px;
    display: flex;
    align-items: center; 
}

.icon-box-social-ft{
    width: 41px;
    height: 100%;
    font-size: 40px;
}

.youtube{
    color: red;
}

.instagram{
    color: #cd2364;
}

.footer-container-3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;   
    padding: 0 8%;
}

.footer-showroom-title{
    font-size: 25px;
    font-weight: bold;
    color: #0f5b9a;
}

.line-footer-1{
    width: 80px;
    height: 2px;
    background-color: #0C3175;
    margin-left: 200px;
}

.footer-container-4{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 8%;
    justify-content: space-around;
}

.footer-name-showroom-content{
    width: 29%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.name-showroom{
    width: 150%;    
    height: 100%;   
    font-size: 20px;
    background-color: #0f5b9a;
    border-radius: 15px;
    color: white;
    padding: 8px 12px;  
}
    
.footer-container-5{
    width: 100%;
    height: 500px;
    padding: 0 9%;
    display: flex;
}

.footer-map-showroom{
    width: 100%;
    height: 500px;
}

.map-showroom{

}